<html>
    <head>
        <title>gifs</title>
    </head>
    <link rel="stylesheet" href='/static/style.css'/>
      <body>
        <h1 class='name'>TRENDY GIF SEARCH ON TWITTER</h1>

        <div>
        <p>
        <form class = "form" method="post" action="/results">

        </p>
          <label for = "gif_amt"> Amount of GIFS: </label>
          <input type = "number" name = "quantity" min = "1" max = "30" placeholder="1-30" style="width:150px">
          <p>
          <label for="name">Name: </label>
          <input type='text' name='name' placeholder=" Jane Doe">
          <p>
          <label for="email">Email</label>
          <!-- pattern checks whether or not the user input looks like a normal email address -->
          <input type='Email' name='email' placeholder="janedoe@gmail.com"pattern="/^[a-zA-Z0-9.!#$%&amp;'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required />
          <p>
          <br>
          <input type='Submit'>
        </div>
          </form>
        </body>
      </html>
